<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Audio</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <h1><a href="/">BuMbLe AuDiO</a></h1>
      <h2>The phrase you entered has words that are not in our database.<br>
        Or the phrase you entered is not correctly formated.<br>
        Please try again.
      </h2>
      <br>
  </body>
</body>
</html>